{% extends 'layout.html' %}
{% block content %}

<div class="col-xs-10 col-sm-6 col-md-6 ml-auto mr-auto">
  <h2>Add New Movie page</h2>
  <div class="card card-style mb-2">
    <div class="card-body">
      <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="form-group">

            <legend class="mb-4">Movie Info</legend>

            <div class="form-group">
              {{ form.title.label(class="form-control-label") }}
              {% if form.title.errors %}
                  {{ form.amount(class="form-control form-control-sm is-invalid") }}
              {% for error in form.label.errors %}
              <div class="invalid-feedback">
                <span>{{error}}</span>
              </div>
              {% endfor %}
              {% else %}
              {{ form.title(class="form-control form-control-sm") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.released.label(class = "form-control-label") }}
              {{ form.released(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.genre.label(class = "form-control-label") }}
              {{ form.genre(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.length.label(class = "form-control-label") }}
              {{ form.length(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Age_Rating.label(class = "form-control-label") }}
              {{ form.Age_Rating(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.country.label(class = "form-control-label") }}
              {{ form.country(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.language.label(class = "form-control-label") }}
              {{ form.language(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.directors.label(class = "form-control-label") }}
              {{ form.directors(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.writers.label(class = "form-control-label") }}
              {{ form.writers(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.actors.label(class = "form-control-label") }}
              {{ form.actors(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Imdb_Rating.label(class = "form-control-label") }}
              {{ form.Imdb_Rating(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Imdb_Votes.label(class = "form-control-label") }}
              {{ form.Imdb_Votes(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Imdb_ID.label(class = "form-control-label") }}
              {{ form.Imdb_ID(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.movie_budget.label(class = "form-control-label") }}
              {{ form.movie_budget(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Gross_US.label(class = "form-control-label") }}
              {{ form.Gross_US(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.World_Gross.label(class = "form-control-label") }}
              {{ form.World_Gross(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.opening_US_CANADA.label(class = "form-control-label") }}
              {{ form.opening_US_CANADA(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Oscar_Wins.label(class = "form-control-label") }}
              {{ form.Oscar_Wins(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Oscar_Nomination.label(class = "form-control-label") }}
              {{ form.Oscar_Nomination(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group">
              {{ form.Other_Wins.label(class = "form-control-label") }}
              {{ form.Other_Wins(class = "form-control form-control-sm") }}
            </div>


            <div class="form-group">
              {{ form.Nominations_Total.label(class = "form-control-label") }}
              {{ form.Nominations_Total(class = "form-control form-control-sm") }}
            </div>

            <div class="form-group border-bottom pd-3">
              {{ form.submit(class = "btn btn-outline-info") }}
            </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}